*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box; 
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2),rgba(0,0,0,1)), url(hotel\ desert.jpg) ;
    background-size: cover;
}
form{
    margin: 50px;
    text-align: center;
}
input{
    display: block;
    width: 350px;
    height: 40px;
    margin: 20px;
    border: none;
    outline: none;
    font-size: 20px;
    border-bottom: 1px solid black;
    background: transparent;

}
button
{
    width: 350px;
    height: 40px;
    font-size: 20px;
    background-color:rgb(100, 67, 25) ;
    border: none;
    color: white;
    margin-top: 30px;
    border-radius: 27px;
    cursor: pointer;
}
button:hover{
    font-size: 25px;
}
form h1{
    margin-bottom: 30px;
    font-weight: bold;
    font-family: cursive;
    color: gray;
}
::placeholder{
    color:white;
}
a{
    text-decoration: none;
    font-weight: bold;
}
hr{
    margin-top: 45px;
    width: 100%;
}
.or{
    background:rgb(100, 67, 25);
    color:white;
    width: 30px;
    border-radius: 10px;
    margin: -9px auto 10px;
    
}
.account{
    margin-top: 20px;
    color: whitesmoke;
}
